.carousel {
  position: absolute;
  width: 590px;
  height: 470px;
  margin: 0 auto;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    display: block;
    height: 100%;
    text-decoration: none;
  }

  img {
    width: 100%;
  }
  button {
    border: none;
    outline: none;
  }

  .car-wrapper {
    height: 100%;

    .car-list {
      position: relative;
      height: 100%;

      .car-item {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        transition: opacity .5s;
        opacity: 0;

        &.active {
          z-index: 1;
          opacity: 1;
        }
      }
    }
  }

  .car-control {
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 24px;
    height: 40px;
    margin-top: -20px;
    background-color: rgba(0,0,0,.2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
    transition: background-color .2s;
    cursor: pointer;

    &.hover {
      background-color: rgba(0,0,0,.4);
    }

    &.car-control-prev {
      left: 0;
      background-image: url(../icons/prev.png);
    }

    &.car-control-next {
      right: 0;
      background-image: url(../icons/next.png);
    }
  }

  .car-indicator {
    position: absolute;
    bottom: 20px;
    left: 46px;
    z-index: 2;
    width: 152px;
    height: 18px;
    font-size: 0;
    cursor: pointer;

    .indicator-btn {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 1px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        display: block;
        border-radius: 50%;
      }

      &::after {
        top: 4px;
        left: 4px;
        width: 6px;
        height: 6px;
        border: 2px solid #b9b3ba;
      }
      &.active::after {
        background-color: #fff;
        border: 2px solid #fff;
      }

      &.active::before {
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background-color: rgba(255,255,255,.3);
      }
    }
  }
}
